:root {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #282c34;
  background: #f4f6f3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

p {
  line-height: 1.6;
}
